@media (max-width: 414px) {
  #journal-title {
    font-size: 2em;
  }
  #journal-caption {
    font-size: .5em;
  }
  #recent-all-container {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .recent-image-container {
    width: 80%;
    height: auto;
  }
  #footer-container {
    font-size: .5em;
    height: 100px;
  }
  #nav-bar {
    li {
      font-size: .5em;
      padding: 10px !important;
    }
  }
  #last-image-container {
    p {
      font-size: .5em;
      padding: 10px;
    }
    h1 {
      font-size: 1em;
      padding: 10px;
    }
  }
  #last-image-container-container {
    margin-bottom: 7.75em;
  }
}

@media(max-width: 320px) {
  #last-image-container-container {
    margin-bottom: 0;
  }
}